* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

header {
    height: 70px;
    background-color: white;
    padding: 10px;
}

img {
    vertical-align: middle;
    width: 50px;
}

h1 {
    display: inline;
    vertical-align: middle;
    font-size: 40px;
}

.container {
    width: 70%;
    margin: 50px auto;
    background-color: white;
    padding-top: 15px;
}

.btn {
    height: 25px;
    font-size: 13px;
    border-radius: 5px;
}

.btn-blue {
    width: 75px;
    background-color: rgb(45, 145, 233);
    color: white;
    border: none;
}

.btn-grey {
    width: 90px;
    color: lightgrey;
    border: 2px solid lightgrey;
    background-color: white;
    margin-bottom: 10px;
}

.btn-action {
    padding-left: 50px;
    border-bottom: 1px solid lightgrey;
}

.section {
    padding-left: 50px;
    margin-top: 25px;
}

.badge {
    width: 65px;
    height: 20px;
    font-size: 11px;
    border-radius: 20px;
    color: white;
    border: none;
}

.bdg-blue {
    background-color: rgb(45, 145, 233);
}

.bdg-violet {
    background-color: rgb(138, 33, 213);
}

.bdg-green {
    background-color: rgb(59, 196, 132);
}

.bdg-orange {
    background-color: rgb(232, 150, 49);
}

.bdg-pink {
    background-color: rgb(230, 60, 230);
}

.bdg-green-2 {
    background-color: rgb(13, 213, 43);
}

.section>div {
    margin: 10px;
}